<div class="pt-40 w-screen h-screen">
  <div class="w-full h-full">
    <div class="mx-6">
      <div class="w-full h-fit grid grid-cols-5 justify-items-center gap-3">
        <% @journals.each do |journal| %>
          <div class="w-4/5 h-fit py-12 px-2">
            <div class="relative block rounded-tr-3xl rounded-b-md border bg-gray-100 border-gray-200">
              <%= image_tag "book.png", alt: "journal Logo", class: "-ml-6 -mt-6 h-80 w-full rounded-bl-3xl rounded-tr-3xl border border-gray-300 object-fit shadow-md" %>
              <div class="p-4 text-center">
                <strong class="text-xl font-medium text-gray-900"><%= journal.title %></strong>
                <p class="mt-2 text-pretty text-gray-500">
                  <%= journal.description.truncate(100) %>
                </p>
                <div class="flex flex-row w-full gap-1">
                  <%= link_to "Details", details_journal_path(journal), class: "w-1/2 flex justify-center bg-amber-50 py-1 px-4 rounded-md my-4 hover:text-white hover:bg-amber-300 transition-all duration-300 hover:duration-300" %>
                   <% if user_signed_in? %>
                    <% unless current_user.admin? %>
                      <%= link_to "Reserve", reserve_journal_path(journal), class: "w-1/2 flex justify-center bg-amber-50 py-1 px-4 rounded-md my-4 hover:text-white hover:bg-amber-300 transition-all duration-300 hover:duration-300" %>
                    <% end %> 
                  <% else %>
                    <span onclick=call_popup() class= "w-1/2 flex justify-center bg-amber-50 py-1 px-4 rounded-md cursor-pointer hover:text-white my-4 hover:bg-amber-300 transition-all duration-300 hover:duration-300">Reserve</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="authModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white py-6 px-12 rounded-lg">
    <div class="relative ml-4 w-full">
        <span onclick=close_popup() class="absolute top-1 right-1 text-gray-400 cursor-pointer">&times;</span>
    </div>
    <h2 class="text-xl mb-4">Only users with an account can make reservations</h2>
    <p class="mb-4">Continue to login or signup</p>
    <div class="flex justify-end">
      <%= link_to "Login", new_user_session_path, class: "bg-blue-500 text-white py-2 px-4 rounded mr-2" %>
      <%= link_to "Signup", new_user_registration_path, class: "bg-green-500 text-white py-2 px-4 rounded" %>
    </div>
  </div>
</div>
