<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Unyt Library System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id="navbar" class="fixed z-20 w-full h-20 transition-transform duration-300 <%= 'hidden' if hide_nav? %>">
      <div class="mx-6 my-2">
        <div class="w-full h-16 bg-white rounded-full">
          <div class="mx-10 h-full">
            <div class="flex items-center justify-between w-full h-full">
              <div>
                <a href="/" class="text-black font-bold text-lg ml-4">Library System</a>
              </div>
              <div class="w-fit grid grid-cols-3 gap-3">
                <span class="text-black hover:underline cursor-pointer">Books</span>
                <span class="text-black hover:underline cursor-pointer">Journals</span>
                <span class="text-black hover:underline cursor-pointer">About us</span>
              </div>
              <div class="w-fit flex gap-2">
                <% if user_signed_in? %>
                  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "" %>
                <% else %>
                  <%= link_to "Login", new_user_session_path, class: "text-black hover:underline" %>
                  <%= link_to "Signup", new_user_registration_path, class: "text-black hover:underline" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="flash-messages" class="fixed top-5 right-5 space-y-2 z-50">
      <% flash.each do |type, message| %>
        <% flash_class = type == "notice" ? "bg-green-500" : "bg-red-500" %>
        <div id="flash-message" class=" <%= flash_class %> text-white px-4 py-3 rounded-lg shadow-lg flex justify-between items-center transition-opacity duration-500 opacity-0 animate-fade-in">
          <span><%= message %></span>
          <span onclick="close_alert()" class="cursor-pointer ml-4 text-lg font-bold">&times;</span>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <script>

      // Hide navbar on scroll down
      let lastScrollTop = 0;
      const navbar = document.getElementById('navbar');
      const scrollThreshold = 50; 
      
      function handleScroll() {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        
        if (scrollTop > lastScrollTop && scrollTop > scrollThreshold) {
          navbar.style.transform = 'translateY(-100%)';
        } 
        else if (scrollTop < lastScrollTop) {
          navbar.style.transform = 'translateY(0)';
        }
        
        lastScrollTop = scrollTop;
      }
      
      window.addEventListener('scroll', handleScroll);

      //Flash messages fade out
      function fadeOutFlashMessages() {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(message => {
          setTimeout(() => {
            message.classList.remove('animate-fade-in');
            message.classList.add('animate-fade-out');
          }, 3000);

          message.addEventListener('animationend', () => {
            if (message.classList.contains('animate-fade-out')) {
              message.remove();
            }
          });
        });
      }

      function close_alert() {
        const flashMessage = document.getElementById("flash-message");
        flashMessage.classList.remove('animate-fade-in');
        flashMessage.classList.add('animate-fade-out');
      }

      //Loader
      document.addEventListener('DOMContentLoaded', fadeOutFlashMessages);
    </script>

    <style>
      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
      }

      .animate-fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
      }

      .animate-fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
      }
    </style>
  </body>
</html>